# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.venu/
.vscode/
venv/
.env

# Raw scraped data — gitignored because it can be regenerated with scrape.py
data/raw/*.csv
data/raw/*.xlsx

# Mac system files
.DS_Store

# Quarto files
*.quarto_ipynb*
/.quarto/
